{{ define "title" }} New File Drop - BetterBin {{ end }}
{{ define "body" }}
<script src="/static/js/new_drop.js"></script>
<div class="container">
    <div class="mt-5"></div>
    <div id="information-alerts"></div>
    <h2>File Drop</h2>
    <hr />
    <br />
    <!-- <form enctype="multipart/form-data" action="/drop/new" method="post"> -->
        
        <div class="row">
            <div class="col-sm">
                <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Title"
            id="title-input"
            aria-label="Title"
        />
            </div>
            <div class="col-sm">
                <div class="input-group">
          
                    <input
                        type="file"
                        class="form-control"
                        name="upload"
                        aria-label="upload"
                        id="upload-file"
                    />
                    <button class="btn btn-outline-primary" type="button"  onclick="newDrop()">
                        Upload
                    </button>
                </div>
            </div>
          </div>

        
    <!-- </form> -->
</div>
{{ end }}
