{{ define "title" }} New Shortened Link - BetterBin {{ end }}
{{ define "body" }}
<script src="/static/js/new_link.js"></script>
<div class="container">
    <div class="mt-5"></div>
    <div id="information-alerts"></div>
    <h2>Link Shortner</h2>
    <hr />
    <br />

    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="preferred-id" placeholder="Preferred ID (Optional)"
                id="preferred-id" aria-label="Preferred ID" />
        </div>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="https://example.com/a/very/long/url"
                    value='{{index . "url"}}' aria-label="Long URL" id="shortner-input"
                    aria-describedby="shortner-createlink" />
                <button class="btn btn-outline-primary" type="button" id="shortner-createlink" onclick="newLink()">
                    Shorten
                </button>
            </div>
        </div>
    </div>


</div>
{{ end }}