{{ define "title" }} View Paste - BetterBin {{ end }}
{{ define "body" }}
    <div class="container">
        <div class="mt-5"></div>
        <div class="alert alert-danger" role="alert">Password Required</div>

        <form method="post" class="row">
            <div class="col">
                <div class="input-group">
                    <input
                            type="password"
                            autocomplete="new-password"
                            class="form-control"
                            aria-describedby="inputPassword"
                            placeholder="Password"
                            name="password"
                            required
                    />
                </div>
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{{ end }}
