{{ define "title" }} View Paste - BetterBin {{ end }}

{{ define "body" }}
<div class="container paste-container">
    <div class="mt-4"></div>
    <div class="row unselectable">
        <div class="col">
            {{with .Title}}
            <h2>{{.}}</h2>
            {{end}}
            <small>Created {{.Created}} UTC</small>
        </div>
        <div class="col text-end">
            <!-- <button type="button" class="btn btn-outline-dark" onclick="copyContents()">
                Copy Contents
            </button> -->
            <a href="/paste/raw/{{.ID}}"
            >
                <button type="button" class="btn btn-outline-primary">
                    Raw
                </button>
            </a
            >
        </div>
    </div>
    <hr/>
    {{ if eq .Preview "code"}}
        <div id="paste-preview" class="view-code">
            {{.ContentHTML}}
        </div>
    {{ else if eq .Preview "markdown"}}
        <div id="paste-preview" class="view-markdown">
            {{.ContentHTML}}
        </div>
    {{ else }}
        <div id="paste-preview" class="view-plaintext">
            <pre><code id="paste-contents">{{.Content}}</code></pre>
        </div>
    {{ end }}

</div>
<script src="/static/js/view_paste.js"></script>

{{ end }}
