{{ define "title" }} View Paste - BetterBin {{ end }} {{ define "body" }}
<div class="container paste-container">
    <div class="mt-4"></div>
    <div class="row">
        <div class="col">
            <h2>{{.Title}}</h2>
            <small>Created 3/4/4/</small>
        </div>
        <div class="col-md-auto">
            <br />
            <button type="button" class="btn btn-outline-dark">Copy Contents</button>
            <a href="/paste/raw/{{.ID}}"
                ><button type="button" class="btn btn-outline-primary">
                    Raw
                </button></a
            >
        </div>
    </div>
    <hr />
    <pre class="view-plaintext"><code>{{.Content}}</code></pre>
</div>
{{ end }}
