main > .container {
  padding: 60px 15px 0;
}

.view-plaintext {
  padding: 1.5rem;
  background-color: #f7f7f9;
}

.paste-container {
  max-width: none;
}

#input-paste-content {
  background-color: #f7f7f9;
  font-family: var(--bs-font-monospace);
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.view-code td:first-child {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
